/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

body{
  box-sizing: border-box;
}
.form{
  margin: 20px auto;
}
.form input{
  box-sizing: border-box;
  /* margin: 0 auto; */
  width: 272px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
}

button{
  width: 91px;
  height: 40px;
  background-color: rgba(78, 117, 255, 1);
  color: white;
  border: none;
  border-radius: 8px;
}